.studioMinimized{width:1px;height:1px;}div.content{width:960px;margin:0;}div#playerdiv{padding-left:205px;padding-top:100px;}div.backToStudioBut{width:132px;height:32px;position:absolute;left:205px;top:492px;}div.publishStudioBut{position:absolute;width:132px;height:32px;left:623px;top:492px;}div.closeBut{position:absolute;left:713px;top:57px;}#studio_container{position:absolute;top:80px;left:0;width:960px;height:630px;z-index:2;}#studio_holder{height:100%;width:100%;text-align:center;}body.ccbrowser div.content{padding-top:20px;margin-top:50px;}
/*
     FILE ARCHIVED ON 01:27:44 Dec 25, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:50:38 Apr 13, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 109.098
  exclusion.robots: 0.092
  exclusion.robots.policy: 0.085
  RedisCDXSource: 0.633
  esindex: 0.007
  LoadShardBlock: 88.285 (3)
  PetaboxLoader3.datanode: 218.32 (4)
  CDXLines.iter: 18.053 (3)
  PetaboxLoader3.resolve: 76.724 (2)
  load_resource: 228.734
*/